<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Paris Private Tour -Rooster Travel</title>

    <link rel="stylesheet" href="style.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
  <div id="app">
    <!--header-->
    <input type="checkbox" id="menu-switch" />
    <header>
      <a :href=home.link class="logo">
        <img :src=siteInfo.logSrc alt="" />
      </a>
      <label for="menu-switch" class="hb">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <div class="nav-list">
        <a :href=item.link v-for="item in menu" :key="item.link" >
          {{ item.name }}
        </a>
      </div>
    </header>

    <!--Landing-area grid-->
    <div class="landing-area">
      <div class="landing-container">
        <div class="main-photo"><img src="Img/Effiel_Tower.jpg" alt="" /></div>
        <div class="landing-text">
          <h1 class="landing-title">Personalized Private Tours of Paris</h1>
          <a href="tour_list.html"
            ><button class="landing-area-button">Book Now</button></a
          >
        </div>
        <div class="sub-photo sub-photo-left">
          <img src="Img/Arc_de_triomphe.jpg" alt="" />
        </div>
        <div class="sub-photo sub-photo-center">
          <img src="Img/Louvre_Museum.jpg" alt="" />
        </div>
        <div class="sub-photo sub-photo-right">
          <img src="Img/Seine_River_Night.jpg" alt="" />
        </div>
      </div>
    </div>

    <!--Welcome-area-->
    <div class="welcome-area">
      <div class="welcome-container">
        <div class="welcome-text">
          <h2 class="welcome-title" v-html="welcomeArea.title"></h2>
          <p class="welcome-description">
            {{ welcomeArea.title }}
          </p>
          <div class="welcome-button">
            <a href="tour_list.html"><button>Tour List</button></a>
          </div>
        </div>
        <div class="welcome-img-area">
          <div class="top-circle"></div>
          <div class="bottom-circle"></div>
          <div class="welcome-img-background">
            <img class="welcome-img" src="Img/Paris_Street.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!--Top-seller -->
      <div class="top-seller-area">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="top-seller-container swiper-slide">
              <div class="top-seller-card">
                <div class="top-seller-photo">
                  <div class="top-block"></div>
                  <img :src="topSeller.Seine_Cruise.img" alt="" />
                  <h2 class="bottom-block">01</h2>
                </div>
                <div class="top-seller-text">
                  <h2 class="top-seller-title" v-html="topSeller.Seine_Cruise.title">
                  </h2>
                  <p class="top-seller-description">
                    {{topSeller.Seine_Cruise.description}}
                  </p>
                  <div class="top-seller-button">
                    <a href="tour_details.html"><button>Book now</button></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="top-seller-container swiper-slide">
              <div class="top-seller-card">
                <div class="top-seller-photo">
                  <div class="top-block"></div>
                  <img src="Img/Top_Effiel_tower.jpg" alt="" />
                  <h2 class="bottom-block">02</h2>
                </div>
                <div class="top-seller-text">
                  <h2 class="top-seller-title">
                    Eiffel Tower <br>Sunset Tour
                  </h2>
                  <p class="top-seller-description">
                    Experience the magic as iconic landmarks glide past, from the enchanting Notre-Dame Cathedral to the majestic Eiffel Tower.
                  </p>
                  <div class="top-seller-button">
                    <a href="tour_details.html"><button>Book now</button></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="top-seller-container swiper-slide">
              <div class="top-seller-card">
                <div class="top-seller-photo">
                  <div class="top-block"></div>
                  <img src="Img/Top_louvre.jpg" alt="" />
                  <h2 class="bottom-block">03</h2>
                </div>
                <div class="top-seller-text">
                  <h2 class="top-seller-title">
                    Louvre Museum <br> Highlights Tour
                  </h2>
                  <p class="top-seller-description">
                    Experience the magic as iconic landmarks glide past, from the enchanting Notre-Dame Cathedral to the majestic Eiffel Tower.
                  </p>
                  <div class="top-seller-button">
                    <a href="tour_details.html"><button>Book now</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>
      </div>


    <!--Intro-area -->
    <div class="intro-area">
      <div class="intro-container">
        <div class="intro-image">
          <div class="intro-image-bg">
            <div class="intro-image-right">
              <img src="Img/Notre_Dame.jpg" alt="" />
            </div>
            <div class="intro-image-top">
              <img src="Img/Effiel_Tower_Night.jpg" alt="" />
            </div>
            <h2 class="intro-title-top">
              Insightful, <br />Memorable,<br />Personalized &<br/> Immersive
            </h2>
            <div class="intro-image-left">
              <img src="Img/Garden.jpg" alt="" />
              <div class="intro-color-block"></div>
              <h2 class="intro-title-bottom">
                Illuminate Paris for you, create lifelong memories
              </h2>
            </div>
          </div>
        </div>
        <div class="intro-description">
          <h2>
            Illuminate Paris for you, <br>create lifelong memories
          </h2>
          <p>
            Rooster Travel believe that travel should be a journey of
            discovery, offering a deeper understanding of the places we visit.
            With our expert guides by your side, you'll gain unique insights into
            the rich history, cultural nuances, and hidden gems of Paris.
          </p>
          <div class="intro-bottom-block"></div>
        </div>
      </div>
    </div>

    <!--Featured Guide-->
    <div class="guide-area">
      <div class="guide-container">
        <div class="guide-text">
          <h2 class="guide-title">Featured Guide</h2>
          <div class="guide-photo">
            <img src="Img/Amelie.jpg" alt="" />
          </div>
          <h3 class="guide-name">Amélie Lefevre</h3>
          <p class="guide-info">Local Guide, Paris</p>
          <a class="guide-more-tour" href="tour_list.html">See All Tours ></a>
        </div>
        <div class="guide-favorite">
          <p class="guide-favorite-title">Amélie’s favorite</p>
          <div class="guide-swiper-container">
            <a href="tour_details.html">
              <div class="swiper-card">
                <div class="swiper-photo">
                  <img src="Img/Sainte_Chapelle.jpg" alt="" />
                </div>
                <div class="swiper-text">
                  <p class="swiper-title">Exploring Sainte-Chapelle</p>
                  <div class="swiper-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p>(76)</p>
                  </div>
                  <p class="swiper-price">From €‎€‎€‎</p>
                </div>
              </div>
            </a>
            <a href="tour_details.html">
              <div class="swiper-card">
                <div class="swiper-photo">
                  <img src="Img/Musee_d'Orsay.jpg" alt="" />
                </div>
                <div class="swiper-text">
                  <p class="swiper-title">Musée d'Orsay Tour</p>
                  <div class="swiper-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p>(54)</p>
                  </div>
                  <p class="swiper-price">From €‎€‎€‎</p>
                </div>
              </div>
            </a>
            <a href="tour_details.html">
              <div class="swiper-card">
                <div class="swiper-photo">
                  <img src="Img/Moulin_Rough.jpg" alt="" />
                </div>
                <div class="swiper-text">
                  <p class="swiper-title">Moulin Rouge</p>
                  <div class="swiper-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p>(32)</p>
                  </div>
                  <p class="swiper-price">From €‎€‎€‎</p>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-bar">
            <div class="swiper-controller"></div>
            <div class="swiper-line"></div>
          </div>
        </div>
      </div>
    </div>

    <!--homepage-Review-->

    <div class="homepage-review">
      <div class="swiper">
        <div class="swiper-wrapper" id="review-app">
          <!-- Slides -->
          <div class="swiper-slide" v-for="(slideValue, slidekey, slideIndex) in slide" :key="slideIndex">
            <div class="review-card">
              <div class="review-text">
                <h2 class="quote">“</h2>
                  <p class="comment">{{slideValue.comment}}</p>
                  <p class="review-name">{{slideValue.reviewName}}</p>
                  <p class="review-tour">{{slideValue.reviewTour}}</p>
              </div>
              <div class="review-img">
                <img :src="slideValue.reviewImg"/>
                <div class="review-bottom-circle"></div>
              </div>
            </div>
          </div>
        </div>
      
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>

    <!--Footer-->

    <footer>
      <div class="contact-container">
        <div class="contact-info">
          <p class="contact-title">Contact Information:</p>
          <div class="contact-item">
            Address: 123 Paris Street, Paris, France
          </div>
          <div class="contact-item">Phone: +33 123 456 789</div>
          <div class="contact-item">Email: info@roostertravel.com</div>
        </div>
        <div class="contact-links">
          <p class="contact-title">Links:</p>
          <a href="index.html">Home</a>
          <a href="tour_list.html">Tours</a>
          <a href="about.html">About</a>
          <a href="contact.html">Contact</a>
        </div>
        <div class="contact-social-media">
          <div class="media-icons">
            <p class="contact-title">Social Media:</p>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    home: {
                    index:'home',
                    link:'index.html'
                  },
                  siteInfo: {
                    logSrc:'Img/logo_svg.svg'
                  },
                  menu: [
                    {
                      index:'tour_list',
                      link: 'tour_list.html',
                      name: 'Book a tour'
                    },
                    {
                      index: 'about',
                      link: 'about.html',
                      name: 'About'
                    },
                    {
                      index:'contact',
                      link: 'contact.html',
                      name: 'Contact'
                    }
                  ],
                  welcomeArea: {
                    index: 'welcomeArea',
                    title:'Unveil Paris<br>With Local Guide!',
                    description:'Discover iconic landmarks, hidden gems, and immerse yourself in the charm of the city with our expert guides.'
                  },
                  topSeller:{
                    Seine_Cruise:{
                      img:'Img/Top_Seine_Cruise.jpg',
                      title:'Enchanting Seine: <br>Captivating River Cruises',
                      description:'Experience the magic as iconic landmarks glide past, from the enchanting Notre-Dame Cathedral to the majestic            Eiffel Tower'
                    },
                    Effiel_tower:{
                      img:'Img/Top_Effiel_tower.jpg',
                      title:' Eiffel Tower <br>Sunset Tour',
                      description:'Experience the magic as iconic landmarks glide past, from the enchanting Notre-Dame Cathedral to the majestic            Eiffel Tower.'
                    },
                    louvre:{
                      img:'Img/Top_louvre.jpg',
                      title:'Louvre Museum <br> Highlights Tour',
                      description:'Experience the magic as iconic landmarks glide past, from the enchanting Notre-Dame Cathedral to the majestic            Eiffel Tower.'
                    }
                  },
                  slide: [
                    {
                      comment: `“ Our guide was well-versed in
                      the art world. She provided insightful commentary on
                      the works of Monet and other renowned artists.”`,
                      reviewName: 'Marie Johnson',
                      reviewTour: "Musée de l'Orangerie Tour",
                      reviewImg: "Img/People_Chilling.jpg"
                    },
                    {
                      comment: `“ The panoramic views from the top of the monument were simply breathtaking, showcasing the city's timeless charm. ”`,
                      reviewName: 'Ichiro Otani',
                      reviewTour: "Eiffel Tower Sunset Tour",
                      reviewImg: "Img/review_arc.jpg"
                    },
                    {
                      comment: `“ The Château de Versailles Tour was an exquisite journey into the grandeur and magnificence of French history. ”`,
                      reviewName: 'Rosa Curie',
                      reviewTour: "Louvre Museum Highlights Tour",
                      reviewImg: "Img/review_fountain.jpg"
                    }
                  ],
                }
            }
        }).mount('#review-app')
    </script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="script.js"></script>
  </body>
</html>
