@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0px;
  border: 0px;
}

body {
  background-color: #f4f0ed;
}

h1 {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 24px;
  width: 130px;
}

h2 {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.005em;
}

h3 {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.005em;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0.005em;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0.005em;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: 0.005em;
}

input, select {
  font-size: 16px;
}

p {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.005em;
}

li, span, label{
  font-size: 12px;
}

button {
  border-radius: 3px;
  width: 105px;
  height: 30px;
  background: #cdab5e;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.005em;
  color: #000000;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 414px) {
  h1 {
    font-size: 30px;
    width: 220px;
  }

  h2 {
    font-size: 20px;
  }

  button {
    width: 105px;
    height: 30px;
    font-size: 12px;
    border-radius: 7px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
    width: 300px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 18px;
  }

  h5, input, select{
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  button {
    width: 140px;
    height: 40px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 70px;
    width: 400px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 20px;
  }

  h5, input, select{
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  li,span, label{
    font-size: 14px;
  }

  button {
    width: 175px;
    height: 50px;
    font-size: 16px;
    border-radius: 13px;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 80px;
    width: 450px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  h5, input, select{
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  li, span, label{
    font-size: 16px;
  }

  button {
    width: 220px;
    height: 62px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1600px) {
  h1 {
    font-size: 128px;
    width: 697px;
  }

  h2 {
    font-size: 56px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 32px;
  }

  h5, input, select{
    font-size: 24px;
  }

  h6 {
    font-size: 20px;
  }
  
  p {
    font-size: 20px;
  }

  li, span, label{
    font-size: 20px;
  }

  button {
    width: 269px;
    height: 77px;
    font-size: 24px;
  }
}

/*header*/

header {
  background-color: #244974;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo img {
  width: 100%;
}

header .logo {
  /* width: 334px; */
  margin: 0 10px;
  width: 200px;
  margin-right: auto;
}

#menu-switch {
  display: none;
}

header a {
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  display: block;
}

@media screen and (max-width: 767px) {
  header .nav-list {
    display: none;
  }

  .hb {
    position: relative;
    width: 40px;
    height: 40px;
    margin: auto 0px;
  }

  .hb span {
    width: 80%;
    background-color: #cdab5e;
    height: 4px;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    transition: top 0.5s, rotate 0.5s, delay 0.5s;
  }

  .nav-list a + a {
    border-top: 1px #fff solid;
  }

  .hb span:nth-child(1) {
    top: 8px;
    transition: top 0.5s 0.5s, rotate 0.5s;
  }
  .hb span:nth-child(2) {
    top: 18px;
  }
  .hb span:nth-child(3) {
    top: 28px;
    transition: top 0.5s 0.5s, rotate 0.5s;
  }

  #menu-switch:checked + header span:nth-child(1) {
    top: 18px;
    rotate: 45deg;
    transition: top 0.5s, rotate 0.5s.5s;
  }
  #menu-switch:checked + header span:nth-child(2) {
    display: none;
  }
  #menu-switch:checked + header span:nth-child(3) {
    top: 18px;
    rotate: -45deg;
    transition: top 0.5s, rotate 0.5s 0.5s;
  }

  #menu-switch:checked + header .nav-list {
    display: block;
    z-index: 1;
  }

  .nav-list {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    background-color: #244974;
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header a {
    padding: 20px;
    font-size: 20px;
  }

  header .logo {
    width: 334px;
    margin: 10px 0px;
    margin-left: 20px;
    padding-right: 0px;
  }

  .nav-list a:nth-child(1){
    padding-left: 0px;
  }

  header .nav-list {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
  }

  .hb {
    display: none;
  }
}

/*landing area*/
.main-photo img {
  width: 100%;
}

.sub-photo {
  display: none;
}

.sub-photo img {
  width: 100%;
}

.landing-container {
  position: relative;
}

@media screen and (max-width: 414px) {
  .landing-text {
    position: absolute;
    top: 20%;
    padding-left: 5%;
  }
}

.landing-title {
  padding-top: 4.42%;
  padding-left: 2.23%;
  line-height: 130.46%;
}

@media screen and (min-width: 414px) {
  .landing-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .landing-container {
    display: grid;
    grid-template-columns: 836fr 353fr 353fr 353fr;
    grid-template-rows: 74.5% 25.5%;
  }

  .main-photo {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .main-photo img {
    width: 100%;
  }

  .sub-photo {
    width: 100%;
    display: block;
  }

  .sub-photo img {
    width: 100%;
  }

  .landing-text {
    grid-area: 1/2/2/5;
    background-color: #f4f0ed;
    position: relative;
    top: 0%;
    padding-left: 0%;
  }

  .landing-area-button {
    margin: 10px 20px;
  }

  .landing-area-button a {
    text-decoration: none;
    color: #000000;
  }
}

@media screen and (min-width: 1024px) {
  .landing-area-button {
    margin: 30px 43px;
  }
}

/*welcome area*/

@media screen and (max-width: 414px) {
  .welcome-container {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .welcome-img-area {
    width: 200px;
    background-color: #244974;
    margin: 30px auto;
    margin-top: 100px;
    position: relative;
  }

  .welcome-img-area img {
    width: 80%;
    position: relative;
    top: 20px;
    left: 15px;
  }

  .top-circle,
  .bottom-circle {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 1px solid #cdab5e;
    position: absolute;
  }

  .top-circle {
    right: 5px;
    top: 0px;
  }

  .bottom-circle {
    left: 0px;
    bottom: -40px;
  }

  .welcome-text {
    width: 200px;
    padding: 10px 40px;
    margin: 10px auto;
  }

  .welcome-button {
    padding-top: 20px;
    text-align: end;
  }
}

@media screen and (min-width: 414px) {
  .welcome-area {
    width: 400px;
    margin: 100px auto;
  }

  .welcome-container {
    display: flex;
    width: 100%;
  }

  .welcome-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .welcome-img-area {
    position: relative;
    width: 60%;
  }

  .top-circle,
  .bottom-circle {
    z-index: 1;
    border: solid #cdab5e 1px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    position: absolute;
  }

  .top-circle {
    top: 0px;
    right: 10px;
  }

  .bottom-circle {
    bottom: -40px;
    left: 0px;
  }

  .welcome-img-background {
    background-color: #244974;
    width: 100%;
  }

  .welcome-img {
    position: relative;
    left: 8%;
    top: 20px;
    width: 80%;
    z-index: 2;
  }
}

@media screen and (min-width: 768px) {
  .welcome-area {
    width: 600px;
    margin: 130px auto;
  }

  .welcome-text {
    gap: 20px;
  }

  .top-circle,
  .bottom-circle {
    width: 120px;
    height: 120px;
    border-radius: 120px;
  }

  .top-circle {
    right: 10px;
  }

  .bottom-circle {
    bottom: -60px;
  }

  .welcome-img {
    top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .welcome-area {
    width: 900px;
    margin: 150px auto;
  }

  .welcome-text {
    gap: 20px;
  }

  .top-circle,
  .bottom-circle {
    width: 160px;
    height: 160px;
    border-radius: 160px;
  }

  .top-circle {
    right: 20px;
  }

  .bottom-circle {
    bottom: -80px;
  }

  .welcome-img {
    top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .welcome-area {
    width: 1200px;
    margin: 100px auto;
  }

  .welcome-text {
    gap: 30px;
  }

  .top-circle,
  .bottom-circle {
    width: 250px;
    height: 250px;
    border-radius: 250px;
  }

  .top-circle {
    right: 20px;
  }

  .bottom-circle {
    bottom: -125px;
  }

  .welcome-img {
    top: 80px;
  }
}

@media screen and (min-width: 1600px) {
  .welcome-area {
    width: 1200px;
    margin: 300px auto;
  }

  .welcome-container {
    display: flex;
    width: 100%;
  }

  .welcome-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .welcome-img-area {
    position: relative;
    width: 60%;
  }

  .top-circle,
  .bottom-circle {
    z-index: 1;
    border: solid #cdab5e 1px;
    width: 250px;
    height: 250px;
    border-radius: 250px;
    position: absolute;
  }

  .top-circle {
    top: 0px;
    right: 20px;
  }

  .bottom-circle {
    bottom: -125px;
    left: 0px;
  }

  .welcome-img-background {
    background-color: #244974;
    width: 100%;
  }

  .welcome-img {
    position: relative;
    left: 8%;
    top: 80px;
    width: 80%;
    z-index: 2;
  }
}

/*Top-seller*/
.top-seller-area {
  margin: 0 auto;
  margin-top: 100px;
}

.top-seller-card {
  width: 300px;
  margin: auto;
}

.top-seller-photo {
  position: relative;
}

.top-seller-photo img {
  width: 100%;
}

.top-seller-photo .top-block {
  width: 60%;
  height: 23px;
  background-color: #244974;
  margin-left: 30%;
}

.top-seller-photo h2 {
  color: #fff;
  background-color: #244974;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  bottom: 5px;
  left: 0px;
  position: absolute;
  z-index: 2;
}

.top-seller-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 20px;
  background-color: #244974f2;
  position: relative;
  top: -10px;
  color: #fff;
}

@media screen and (min-width: 768px){
  .top-seller-card{
    display: flex;
    width: 700px;
  }

  .top-seller-photo{
    width: 50%;
  }

  .top-seller-photo img{
    width: 90%;
    padding: 0 5%;
  }

  .top-seller-text{
    width: 50%;
    margin-left: -50px;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .top-seller-photo h2 {
    width: 60px;
    height: 60px;
    line-height: 60px;
    bottom: -10px;
  }
}

@media screen and (min-width: 1024px){
  .top-seller-area {
    margin-top: 250px;
  }

  .top-seller-card{
    width: 900px;
  }

  .top-seller-text{
    margin-left: -70px;
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .top-seller-photo h2 {
    width: 90px;
    height: 90px;
    line-height: 90px;
    bottom: -20px;
  }

  .top-seller-photo .top-block {
    height: 33px;
  }

  .top-seller-text {
    padding: 40px 40px;
}
}

@media screen and (min-width: 1200px){
  .top-seller-area{
    margin-top: 350px;
  }
  .top-seller-card{
    width: 1150px;
  }

  .top-seller-text{
    margin-left: -100px;
    margin-top: 100px;
    margin-bottom: 70px;
    gap: 20px;
  }

  .top-seller-photo h2 {
    width: 120px;
    height: 120px;
    line-height: 120px;
    bottom: -10px;
  }

  .top-seller-photo .top-block {
    height: 40px;
  }
}

@media screen and (min-width: 1600px){
  .top-seller-area{
    margin-top: 450px;
  }
  .top-seller-card{
    width: 1500px;
  }

  .top-seller-text{
    margin-left: -120px;
    margin-top: 120px;
    margin-bottom: 90px;
    gap: 30px;
  }

  .top-seller-photo h2 {
    width: 140px;
    height: 140px;
    line-height: 140px;
    bottom: -40px;
  }

  .top-seller-photo .top-block {
    height: 50px;
  }
}



/* intro-area */

.intro-image-right,
.intro-image-left{
  display: none;
}

.intro-container {
  width: 300px;
  margin: 170px auto;
  position: relative;
}

.intro-image-top img{
  width: 100%;
}

.intro-title-top{
  color: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
}

.intro-description{
  padding: 10px 20px;
}

@media screen and (min-width: 768px){
  .intro-image-right,
  .intro-image-left{
   display: block;
  }

  .intro-title-top :nth-child(3){
    display: none;
  }
  
  .intro-container {
    margin: 0 auto;
    width: 600px;
    margin-top: 300px;
  }
  
  .intro-image-bg {
    box-sizing: border-box;
    width: 100%;
    height: 288px;
    background-color: #244974;
    position: relative;
    margin-left: 6.5%;
  }
  
  .intro-image-bg img{
    width: 100%;
  }
  
  .intro-image-right {
    width: 50%;
    position: absolute;
    right: 8%;
    bottom: -200px;
  }
  
  .intro-image-top {
    width: 68.916666%;
    position: absolute;
    left: 5.4%;
    top: -68px;
  }
  
  .intro-image-left {
    width: 40.5%;
    position: absolute;
    left: -18.33%;
    bottom: -84px;
  }
  
  .intro-color-block {
    width: 8%;
    height: 116px;
    position: absolute;
    bottom: -110px;
    left: 30%;
    background-color: #244974;
    box-sizing: border-box;
    line-height: 0px;
  }
  
  .intro-title-top {
    color: #fff;
    position: absolute;
    left: 40%;
    top: 46px;
  }
  
  .intro-title-bottom {
    position: absolute;
    left: 50%;
    bottom: -116px;
    width: 100%;
  }
  
  .intro-description {
    padding: 220px 20.75% 0px 8.8%;
  }  
}

@media screen and (min-width: 1024px){
  .intro-area {
    margin-top: 208px;
  }
  
  .intro-container {
    width: 900px;
  }
  
  .intro-image-bg {
    height: 432px;
  }
  
  .intro-image-right {
    bottom: -300px;
  }
  
  .intro-image-top {
    top: -102px;
  }
  
  .intro-image-left {
    bottom: -126px;
  }
  
  .intro-color-block {
    height: 174px;
    bottom: -165px;
  }
  
  .intro-title-top {
    top: 69px;
  }
  
  .intro-title-bottom {
    bottom: -174px;
    width: 80%;
  }
  
  .intro-description {
    padding: 330px 20.75% 0px 8.8%;
  }  
}

@media screen and (min-width: 1600px){
.intro-area {
  margin-top: 415px;
}

.intro-container {
  width: 1200px;
}

.intro-image-bg {
  height: 578px;
}

.intro-image-bg img{
  width: 100%;
}

.intro-image-right {
  bottom: -392px;
}

.intro-image-top {
  top: -142px;
}

.intro-image-left {
  bottom: -170px;
}

.intro-color-block {
  height: 229px;
  bottom: -223px;
  line-height: 0px;
}

.intro-title-top {
  top: 90px;
}

.intro-title-bottom {
  bottom: -233px;
}

.intro-description {
  padding: 437px 20.75% 0px 8.8%;
}

}

/*Featured Guide */
.guide-area{
  margin-top: 215px;
  width: 100%;
  background-color: #244974;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1900px){
  .guide-area{
    display: none;
  }
}

.guide-container{
  display: flex;
  margin: 0px 360px;
  align-items: center;
}

.guide-text{
  margin-left: 200px;
}

.guide-favorite{
  position: relative;
  left: 174px;
  background: linear-gradient(270deg, #3185A5 -21.21%, rgba(48, 112, 148, 0.604167) 41.31%, rgba(46, 81, 122, 0) 106.49%);
}

.guide-swiper-container{
  display: flex;
}

.guide-swiper-container a{
  text-decoration: none;
  color: #000000;
}

.swiper-card{
  margin: 0px 15px 15px 15px;
}

.swiper-rating{
  display: flex;
  align-items: center;
}

.checked {
  color: #cdab5e;
}

.guide-title{
  color: white;
  padding: 20px 0px;
}

.guide-photo img{
  border: solid 6px #fff;
}

.guide-name{
  color: #fff;
  line-height: 50px;
}

.guide-info{
  color: #fff;
}

.guide-more-tour{
  line-height: 27px;
  padding: 23px 0px 68px 0px;
  font-size: 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  box-sizing: border-box;
  display: block;
}

.guide-favorite-title{
  font-size: 24px;
  color: #fff;
  padding: 37px 0px 5px 20px;
}

.guide-favorite .swiper-card{
  background-color: #FFFFFF;
  border-radius: 18px;
}

.guide-favorite img{
  border-radius: 18px 18px 0px 0px;
}

.guide-favorite .swiper-text{
  padding-left: 14px;
}

.guide-favorite .swiper-rating p{
  font-size: 16px;
}

.guide-favorite .swiper-price{
  font-size: 24px;
  padding: 50px 0px 19px 0px;
}

.guide-favorite .swiper-controller{
  position: relative;
  top: 2px;
  width: 240px;
  border: 4px solid #CDAB5E;
}

.guide-favorite .swiper-line{
  width: 720px;
  border: 1px solid #000000;
  margin-bottom: 17px;
}

/* homepage-Review */

  .homepage-review {
    margin-top: 50px;
    margin-bottom: 45px;
  }
  
  @media screen and (max-width: 767px){
  .swiper{
    height: 500px;
  }
  }

  .swiper-slide{
    width: 300px;
  }
  
  .review-card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 250px;
    margin: 0px auto;
  }
  
  .review-text {
    width: 100%;
  }
  
  .review-img {
    position: relative;
    width: 100%;
  }
  
  .review-img img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
  .review-bottom-circle {
    display: none;
  }
  
  .review-text .quote {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #244974;
  }
  
  .review-text .comment {
    font-style: italic;
    font-weight: 500;
    line-height: 180%;
  }
  
  .review-text .review-name {
    font-weight: 600;
    padding-top: 13px;
  }

@media screen and (min-width: 768px){
  .homepage-review {
    margin-top: 125px;
    margin-bottom: 90px;
  }
  
  .swiper-slide{
    width: 700px;
  }
  
  .review-card {
    flex-direction: row;
    width: 90%;
    margin: 0px 5%;
  }
  
  .review-text {
    padding: 5%;
    width: 50%;
  }
  
  .review-img {
    width: 50%;
  }
  
  .review-bottom-circle {
    display: block;
    background-color: #244974;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: relative;
    left: -5%;
    top: -40px;
    z-index: 0;
  }
  
  .review-text .quote {
    font-size: 50px;
  }
  
}

@media screen and (min-width: 1024px){
  .homepage-review {
    margin-top: 125px;
    margin-bottom: 90px;
  }
  
  .swiper-slide{
    width: 1000px;
  }
  
  .review-bottom-circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -70px;
  }
  
  .review-text .quote {
    font-size: 75px;
  }

}

@media screen and (min-width: 1600px){
  .homepage-review {
    margin-top: 251px;
    margin-bottom: 184px;
  }
  
  .swiper-slide{
    width: 1600px;
  }
  
  .review-bottom-circle {
    width: 158px;
    height: 158px;
    border-radius: 158px;
    top: -120px;
  }
  
  .review-text .quote {
    font-size: 128px;
  }
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  background-color: #244974;
}

.contact-container {
  color: #fff;
  padding-bottom: 106px;
}

.contact-title {
  font-weight: 800;
  line-height: 40px;
}

.contact-item {
  font-size: 12px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.005em;
  color: #fff;
}

.contact-links a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.005em;
  color: #fff;
}

.media-icons a {
  color: #fff;
  font-size: 20px;
  padding-right: 25px;
}

@media screen and (min-width: 830px){
  footer {
    display: flex;
    justify-content: center;
    background-color: #244974;
  }
  
  .contact-container {
    width: 1200px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
    padding-bottom: 106px;
  }
  
  .contact-title {
    line-height: 120px;
  }
  
  .contact-item {
    font-size: 16px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.005em;
    color: #fff;
  }
  
  .contact-links a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.005em;
    color: #fff;
  }
  
  .media-icons a {
    color: #fff;
    font-size: 32px;
    padding-right: 25px;
  }
}



/*tour_list*/
.banner-area {
  width: 100%;
}

.banner-title{
  width: 100%;
  background-image: url(Img/banner.jpg);
  background-position: center;  
}

.banner-title h2{
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 36px;
  padding-top: 40px;
}

.banner-title h3{
  color: #fff;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  padding-bottom: 50px;
}

.banner-description h3{
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  width: 290px;
  font-size: 14px;
  padding: 20px 5%;
}

@media screen and (min-width: 414px){
  .banner-title h2{
    font-size: 50px;
    padding-top: 60px;
  }
  
  .banner-title h3{
    font-size: 18px;
    padding-bottom: 100px;
  }
  
  .banner-description h3{
    width: 400px;

    font-size: 16px;
    line-height: 27px;
    padding: 20px 0px;
  }
}

@media screen and (min-width: 768px){
  .banner-title h2{
    font-size: 80px;
    padding-top: 100px;
  }
  
  .banner-title h3{
    font-size: 26px;
    padding-bottom: 160px;
  }
  
  .banner-description h3{
    width: 100%;
    font-size: 26px;
    line-height: 39px;
    padding: 30px 0px;
  }
}


@media screen and (min-width: 1200px){

  .banner-title h2{
    font-size: 128px;
    padding-top: 152px;
  }
  
  .banner-title h3{
    font-size: 36px;
    padding-bottom: 300px;
  }
  
  .banner-description h3{
    font-size: 40px;
    line-height: 52px;
    padding: 40px 0px;
  }
}


/* tour_list_list */
.list-area {
  padding-bottom: 50px;
}

.list-area a {
  text-decoration: none;
  color: #000000;
}

.list-container {
  width: 100%;
}

.list-title {
  padding-top: 20px;
  padding-left: 10%;
}

.list-description {
  padding: 15px 10%;
  flex-grow: 1;
}


.list-card-wrap img {
  width: 100%;
}

.list-card {
  width: 80%;
  padding: 31px 17px;
  border: #d9d9d9 1px solid;
  border-right: none;
  border-left: none;
  display: flex;
  flex-direction: column;
  align-content: end;
  margin: 0 auto;
}

.list-card-text {
  padding: 15px 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-description{
  flex-grow: 1;
}

.avaliable-time {
  text-align: right;
  padding: 0px 20px;
}

.card-title {
  padding-bottom: 15px;
  flex-grow: 1;
}

.card-rating {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.card-rating {
  display: flex;
  justify-content: space-between;
}

.card-rating span {
  font-size: 15px;
}

.card-rating p {
  display: inline;
}

.card-rating i {
  display: none;
  font-size: 30px;
  color: #222;
}

.list-card:hover {
  background-color: #fefcf9;
  box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.68);
  transition: box-shadow 0.4s;
}

@keyframes arrow-go-right {
  0% {
    margin-right: 2%;
  }
  100% {
    margin-right: 0px;
  }
}

.list-card:hover .card-rating i {
  display: block;
  animation-name: arrow-go-right;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


@media screen and (min-width: 768px){

.list-title {
  padding-top: 50px;
  padding-left: 60px;
}

.list-card-wrap {
  display: flex;
}

.list-description {
  padding: 25px 0px 25px 60px;
}

.list-card {
  width: 33.333333%;
  padding: 31px 17px;
  border-right: none;
  border-left: #d9d9d9 1px solid;
}

.card-title {
  padding-bottom: 50px;
  flex-grow: 1;
}

.card-rating span {
  font-size: 15px;
}

.card-rating i {
  display: none;
  font-size: 15px;
  color: #222;
}

.list-card:hover {
  background-color: #fefcf9;
  box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.68);
  transition: box-shadow 0.4s;
}

@keyframes arrow-go-right {
  0% {
    margin-right: 2%;
  }
  100% {
    margin-right: 0px;
  }
}

.list-card:hover .card-rating i {
  display: block;
  animation-name: arrow-go-right;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

}

@media screen and (min-width: 1200px){
  .card-rating i {
    font-size: 30px;
  }

  .card-rating span {
    font-size: 30px;
  }
}


/*tour_details */

.details-title {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-align: center;
  width: 100%;
  text-justify: center;
  font-size: 30px;
  padding: 35px 0px;
}

.details-img-area {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #244974;
  padding: 20px 5%;
  width: 100%;
  box-sizing: border-box;
}

.details-img-area .left-arrow {
  position: absolute;
  top: 400px;
  left: 60px;
  display: none;
}

.details-img-area .right-arrow {
  position: absolute;
  top: 400px;
  right: 60px;
  display: none;
}

.details-img-list {
  width: 1540px;
  display: block;
  grid-template-columns: 1029fr 491fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.details-img-list img{
  width: 100%;
}

.details-img-list img:not(:first-child){
  display: none;
}

@media screen and (min-width: 1024px){
  .details-img-list img:not(:first-child){
    display: block;
  }

  .details-img-list{
    display: grid;
  }

  .details-img-area {
    padding: 40px 5%;
  }
}


.details-main-img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.details-top-img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.details-bottom-img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.details-area {
  justify-content: center;
  margin-top: 20px;
  padding: 20px 0px;
} 

.details-text-area {
  width: 80%;
  margin: 0 auto;
}

.details-calendar {
  width: 80%;
  margin: 0 auto;
}

.details-text-area h3{
  display: none;
}

@media screen and (min-width: 768px){
  .details-area {
    display: flex;
    width:650px;
    margin: auto;
    margin-top: 20px;
  }
  .details-text-area {
    width: 50%;
  }

  .details-text-area h3{
    display: block;
  }

}

@media screen and (min-width: 1024px){
  .details-area {
    width: 850px;
    margin: auto;
    margin-top: 56px;
  }
}

@media screen and (min-width: 1200px){
  .details-area {
    width: 1050px;
    margin-top: 56px;
  }

}

@media screen and (min-width: 1600px){
  .details-area {
    width: 1400px;
    margin: auto;
    margin-top: 56px;
  }
}

.notices-list li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.005em;
  position: relative;
  left: -1em;
  padding: 10px 0px;
}

.details-subtitle{
  padding-top: 20px;
  font-family: "EB Garamond", serif;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 0;
}

.details-text-area h3 {
  padding-bottom: 30px;
}

.included-list p {
  text-indent: -15px;
  position: relative;
  left: 30px;
  padding: 10px 0px;
}

.included-list .fa-square-check {
  padding-right: 10px;
}

.details-text-area h6{
  padding-top: 10px;
}

/* calender */
.calender-container {
  width: 100%;
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  box-sizing: border-box;
}

.calender-container .book-button {
  text-align: center;
  display: block;
  padding-top: 15px;
}

.book-button button{
  width: 70%;
}

.calender-form-title {
  border-bottom: 1px solid #d9d9d9;
}

.calender-form-title {
  display: flex;
  justify-content: space-between;
}

.calender-container .row {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
}

.calender-container i {
  color: #cdab5e;
  font-size: 32px;
  width: 32px;
  padding: 20px;
}

.calender-container select {
  padding-left: 2%;
  width: 75%;
}

.calender-container .row input {
  width: 75%;
}

.cancel-policy-row {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.005em;
}

.details-review-area {
  display: flex;
  justify-content: center;
}

.details-review-container {
  width: 80%;
}


@media screen and (min-width: 768px){
  .details-calendar {
    width: 50%;
    margin: 0;
  }

  .calender-container {
    margin-left: 10%;
  }
    .details-review-container {
      width:650px;
    }

    .details-review-comment{
      padding-top: 20px;
    }
}

@media screen and (min-width: 1024px){
  .details-review-container {
    width: 850px;
  }

  .details-review-comment{
    padding-top: 40px;
  }
}

@media screen and (min-width: 1200px){
  .details-review-container {
    width: 1050px;
  }

}

@media screen and (min-width: 1600px){
  .details-review-container {
    width: 1400px;
  }
}

.details-review-title h3 {
  display: inline;
  padding-right: 5px;
}

.details-review-title span {
  padding-right: 0.1%;
}

.details-review-lists {
  margin-top: 20px;
  margin-bottom: 124px;
  border: 4px #244974 solid;
  padding:  10px 20px;
}

.details-review-area .comment-info {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px 0px;
  flex-wrap: wrap;
}

.comment-info span {
  padding: 0.2%;
}

.details-review-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  padding: 0px 10px;
}

.details-review-date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.005em;
}

@media screen and (min-width: 768px){
  .details-title {
    font-size: 60px;
    padding: 65px 0px;
}

.calender-container {
  display: block;
}

.calender-container i {
  font-size: 24px;
}

.calender-container select {
  font-size: 18px;
}

.calender-container .row input {
  font-size: 18px;
}

.calender-container .row {
  padding: 10px 0px;
}

.details-review-lists{
  margin-top: 34px;
  padding: 10px 45px;
}

.details-review-title h3 {
  display: inline;
  padding-right: 20px;
}

}

@media screen and (min-width: 1200px){
  .details-title {
    font-size: 80px;
    padding: 91px 0px;
}

.calender-container i {
  font-size: 32px;
}

.calender-container select {
  font-size: 24px;
}

.calender-container .row input {
  font-size: 24px;
}
}


/* about */

.about-landing-area {
  display: flex;
  justify-content: center;
}

.about-title-container h2 {
  padding: 30px 340px;
  width: 100%;
  box-sizing: border-box;
}

.who-area {
  display: flex;
  justify-content: center;
}

.who-container {
  padding: 80px 360px;
  width: 1200px;
}

.what-area {
  display: flex;
  justify-content: center;
  background-color: #244974;
}
.what-container {
  width: 1200px;
  padding-bottom: 93px;
}

.what-container h3 {
  color: #fff;
  padding: 38px 0px 93px 0px;
}

.what-card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repaet(2, 1fr);
  gap: 40px;
}

.what-card {
  padding: 40px 25px;
  border-radius: 9px;
  border: solid #fff 1px;
}

.what-card-icon {
  width: 50px;
  height: 50px;
  margin: 20px 150px 25px 9px;
  background-color: #fff;
  color: #cdab5e;
  border-radius: 50px;
}

.what-card-icon {
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}

.what-card-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.005em;
  color: #ffffff;
  padding-bottom: 10px;
}

.what-card-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.005em;
  color: #ffffff;
  width: 200px;
}

.why-area {
  display: flex;
  justify-content: center;
}

.why-container {
  width: 1200px;
  padding-top: 96px;
}

.why-container h3 {
  padding-bottom: 20px;
}

.why-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.why-container p {
  padding: 53px 0px 81px 0px;
}

/*Contact */
.contact-us-area {
  display: flex;
  justify-content: center;
}

.contact-us-container {
  width: 1200px;
  padding-top: 30px;
  padding-bottom: 120px;
}

.contact-us-wrap {
  display: flex;
}

.contact-us-form {
  width: 600px;
}

.contact-us-container h2 {
  padding-bottom: 59px;
}

.contact-us-form p {
  padding-bottom: 89px;
}

.contact-us-form label {
  display: inline-block;
  width: 100px;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.005em;
  text-align: left;
  padding-bottom: 46px;
}

.contact-us-form input {
  width: 421px;
  height: 47px;
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  padding: 0px 5px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
}

.label-cmessage {
  vertical-align: top;
}

#cmessage {
  width: 73%;
  overflow-wrap: wrap;
  font-size: 20px;
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  resize: none;
  padding: 7px 5px;
  font-family: "Montserrat", sans-serif;
}

.contact-us-form button {
  margin: 44px 25px 20px 170px;
}

.contact-us-info {
  background-color: #244974;
  width: 600px;
  margin-left: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.contact-us-info h3 {
  padding: 60px 76px 0px 76px;
  color: #fff;
}

.contact-us-info p {
  padding-left: 106px;
}

.contact-us-icon {
  padding: 45px 33px;
  display: inline-block;
  font-size: 47px;
}

.contact-us-item {
  color: #fff;
  font-size: 20px;
  padding-left: 45px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.005em;
  text-align: left;
  vertical-align: center;
}

.top-square {
  width: 61px;
  height: 61px;
  background-color: #cdab5e;
  position: absolute;
  top: -29px;
  left: -32px;
}

/* Reservation */

.reservation-area {
  display: flex;
  justify-content: center;
}

.reservation-container {
  width: 65%;
}

.reservation-wrap {
  display: flex;
  justify-content: space-between;
}

.progress-bar {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
  box-sizing: border-box;
}

.center-line {
  flex-grow: 1;
  height: 0px;
  border: 1px solid #000000;
  margin: 20px;
}

.progress-bar .active-icon,
.unactive-icon {
  width: 41px;
  height: 41px;
  border-radius: 41px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 180%;
}

.progress-bar .active-icon {
  color: #fff;
  background-color: #cdab5e;
}

.progress-bar .unactive-icon {
  color: #244974;
  background-color: #fff;
}

.progress-bar span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.005em;
  padding: 10px;
}

.info-container {
  border: solid 1px #000000;
  border-radius: 7px;
  padding: 10px;
  margin: 20px 0px;
}

.info-title {
  padding: 10px 10px;
}

.info-container .row {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  letter-spacing: 0.005em;
  flex-wrap: wrap;
}

.form-group {
  width: 100%;
  padding: 15px;
  text-align: start;
}

.form-group input {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 10px 5px;
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  font-family: "Montserrat", sans-serif;
}

#additional-info {
  padding: 10px 5px;
  width: 96%;
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.005em;
  color: #000000;
  resize: none;
  padding: 10px 5px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px){
  #additional-info {
  font-size: 14px;
  }
}

@media screen and (min-width: 1280px){
  #additional-info {
  font-size: 16px;
  }
}

@media screen and (min-width: 1600px){
  #additional-info {
  font-size: 20px;
  }
}

.customer-checkbox {
  padding: 0px 20px;
}

.customer-checkbox input {
  width: 20px;
  height: 20px;
  padding-top: 4px;
}

.customer-checkbox p {
  display: inline;
}

.payment-btn-area {
  display: flex;
  padding-bottom: 20px;
}

.complete-order-btn,
.go-back-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.complete-order-btn button {
  cursor: pointer;
}

.go-back-btn button {
  border: 2px solid #d9d9d9;
  background-color: #f4f0ed;
  cursor: pointer;
}

.complete-order-btn a {
  text-decoration: none;
  color: #000000;
}

.go-back-btn a {
  text-decoration: none;
  color: #4d4d4d;
}


.cart-summary-container {
  border: 1px solid #000000;
  border-radius: 7px;
  padding: 15px 25px;
  margin-left: 5%;
  min-width: 300px;
  display: none;
}

.cart-summary-items {
  display: flex;
  border-top: 1px solid #000000;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cart-summary-items img {
  border-radius: 2px;
  display: block;
}

.cart-summary-items span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #000000;
  padding: 5px 5px;
}

.summary-text p {
  padding: 0px 5px;
}

.item-price {
  display: flex;
  justify-content: space-between;
}

.cancel-container i {
  font-size: 20px;
  padding: 0px 10px 0px 20px;
}

.total-price {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: 0.005em;
  justify-content: space-between;
}

/* payment */

@media screen and (min-width: 1200px){
  .card-number {
    width: 60%;
  }
  
  .expire-date {
    width: 30%;
  }
  
  .cvc {
    width: 10%;
  }
}

#card-number {
  font-size: 24px;
}

#cvc {
  font-size: 24px;
}

#payment-country {
  font-size: 24px;
}

.swiper-scrollbar {
  display: none;
}


@media screen and (min-width: 1280px){
  .info-container .row {
  flex-wrap: nowrap;
  }

  .cart-summary-container{
    display: block;
  }

  .progress-bar{
    display: flex;
  }
}